{% extends 'layout.html' %}

{% from 'macros.html' import field, game_cover with context %}

{% block title %}LAN party : proposer un jeu{% endblock %}

{% block cssfiles %}
    {% assets 'css_lan_games_proposal' %}<link rel="stylesheet" href="{{ ASSET_URL }}">{% endassets %}
{% endblock %}

{% block content %}
    <p>Propose ici des jeux pour la LAN. <a href="{{ url_for('lan_games_vote') }}">Pour voter pour des jeux, c'est par là</a>.</p>

    <form method="get" action="{{ url_for('lan_games_proposal') }}">
        {{ field(form.terms, with_label=False, class='mb-0' if not validated else '') }}
    </form>

    {% if validated %}
        {% if games %}
            <div class="games">
                {% for game in games %}
                    <article id="g={{ game.id }}">
                        {{ game_cover(game, game.name + (' [déjà proposé par ' + (game.proposal.user.display_name if game.proposal.user_id != current_user.id else 'toi') + ']' if game.proposal else '')) }}

                        {% if game.proposal %}
                            <i class="bi bi-bag-check" style="font-size: 1.5em;"></i>
                        {% else %}
                            <a href="{{ url_for('lan_games_proposal_submit', game_id=game.id, **request.args) }}"><i class="bi bi-bag-plus" style="font-size: 1.5em;"></i></a>
                        {% endif %}
                    </article>
                {% endfor %}
            </div>
        {% else %}
            <p><strong>Aucun résultat.</strong></p>
        {% endif %}

        <p class="mb-0">
            <i>Tu ne trouves pas ton jeu ou ton mod ? Laisse un message sur le canal <strong>#lan</strong> de notre Discord.</i>
        </p>
    {% endif %}
{% endblock %}