{% extends 'layout.html' %}

{% from 'macros.html' import field with context %}

{% block title %}LAN party : proposer un logement{% endblock %}

{% block cssfiles %}
    {% assets 'css_base' %}<link rel="stylesheet" href="{{ ASSET_URL }}">{% endassets %}
{% endblock %}

{% block content %}
    <p>Soumets ici un logement pour la prochaine LAN. <a href="{{ url_for('lan_accommodations_vote') }}">Pour voter pour des logements, c'est par là</a>.</p>

    <form method="post" action="{{ url_for('lan_accommodations_proposal') }}">
        {{ form.csrf_token }}

        {% include 'lan/accommodations/partials/form.html' %}

        <div class="row">
            <a href="{{ url_for('lan_accommodations_vote') }}" role="button" class="secondary">Retour</a>
            <button type="submit" class="mb-0">Soumettre</button>
        </div>
    </form>
{% endblock %}