Flask~=3.1
Flask-Assets~=2.1
Flask-SQLAlchemy~=3.1
Flask-Migrate~=4.1
Flask-Login~=0.6
flask-babel~=4.0
Flask-WTF~=1.2
Flask-Discord-Interactions~=2.1
Flask-Caching~=2.3
sqlalchemy-searchable~=2.1
environs~=14.1
rcssmin~=1.2
psycopg[binary]~=3.2
requests~=2.32