{% extends 'layout.html' %}

{% block title %}Proposer des jeux{% endblock %}

{% block cssfiles %}
    {% assets 'css_lan_games_proposal' %}<link rel="stylesheet" href="{{ ASSET_URL }}">{% endassets %}
{% endblock %}

{% block content %}
    <p>Propose ici des jeux pour la LAN. Tu as accès à l'entièreté du catalogue Steam. <a href="{{ url_for('lan_games') }}">Pour voter pour des jeux, c'est par là</a>.</p>

    <form method="get" action="{{ url_for('lan_games_proposal') }}">
        <div>
            {{ form.terms(placeholder='Tape le nom d\'un jeu...', aria_invalid='true' if form.terms.errors else '', class='mb-0' if not validated) }}

            {% if form.terms.errors %}
                <small class="mb-0">
                    {{ form.terms.errors|join('<br>') }}
                </small>
            {% endif %}
        </div>
    </form>

    {% if validated %}
        {% if games %}
            <div class="games">
                {% for game in games %}
                    <div>
                        <a href="https://store.steampowered.com/app/{{ game.id }}" target="_blank" data-tooltip="{{ game.name }}">
                            <img src="https://cdn.cloudflare.steamstatic.com/steam/apps/{{ game.id }}/capsule_231x87.jpg" alt="Illustration {{ game.name }}" width="231" height="87">
                        </a>
                        <button class="outline">
                            Proposer
                        </button>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <div class="alert error">Aucun résultat.</div>
        {% endif %}
    {% endif %}
{% endblock %}