{% extends 'layout.html' %}

{% block title %}Proposer des jeux{% endblock %}

{% block cssfiles %}
    {% assets 'css_lan_games_propose' %}<link rel="stylesheet" href="{{ ASSET_URL }}">{% endassets %}
{% endblock %}

{% block content %}
    <p>Propose ici des jeux pour la LAN. Tu as accès à l'entièreté du catalogue Steam. Les jeux déjà proposés n'apparaîtront pas. <a href="{{ url_for('lan_games') }}">Pour voter pour des jeux, c'est par là</a>.</p>

    <form method="post" action="{{ url_for('lan_games_propose') }}">
        {{ form.csrf_token }}

        <div>
            {{ form.search_terms(placeholder='Tape le nom d\'un jeu...', aria_invalid='true' if form.search_terms.errors else '') }}

            {% if form.search_terms.errors %}
                <small class="mb-0">
                    {{ form.search_terms.errors|join('<br>') }}
                </small>
            {% endif %}
        </div>
    </form>

    {% if validated %}
        {% if games %}
            <div class="games">
                {% for game in games %}
                    <div>
                        <a href="https://store.steampowered.com/app/{{ game.steam_appid }}" target="_blank">
                            <img src="https://cdn.cloudflare.steamstatic.com/steam/apps/{{ game.steam_appid }}/capsule_231x87.jpg" alt="Illustration {{ game.name }}" title="{{ game.name }}" width="231" height="87">
                        </a>
                        <button class="outline">
                            Proposer ce jeu
                        </button>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <div class="alert error">Aucun résultat.</div>
        {% endif %}
    {% endif %}
{% endblock %}