{% extends 'layout.html' %}

{% from 'macros.html' import field, game_cover with context %}

{% block title %}LAN party : proposer des jeux{% endblock %}

{% block cssfiles %}
    {% assets 'css_lan_games_proposal' %}<link rel="stylesheet" href="{{ ASSET_URL }}">{% endassets %}
{% endblock %}

{% block content %}
    <p>Propose ici des jeux pour la LAN. <a href="{{ url_for('lan_games_vote') }}">Pour voter pour des jeux, c'est par là</a>.</p>

    <form method="get" action="{{ url_for('lan_games_proposal') }}">
        {{ field(form.terms, with_label=False, class='mb-0' if not validated else '') }}
    </form>

    {% if validated %}
        {% if games %}
            <div class="games">
                {% for game in games %}
                    <article id="g={{ game.id }}">
                        {{ game_cover(game, game.name + (' [déjà proposé par ' + (game.proposal.user.display_name if game.proposal.user_id != current_user.id else 'toi') + ']' if game.proposal else '')) }}

                        {% if game.proposal %}
                            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-bag-check" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M10.854 8.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L7.5 10.793l2.646-2.647a.5.5 0 0 1 .708 0"/>
                                <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1m3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1z"/>
                            </svg>
                        {% else %}
                            <a href="{{ url_for('lan_games_proposal_submit', game_id=game.id, **request.args) }}">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-bag-plus" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M8 7.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0v-1.5H6a.5.5 0 0 1 0-1h1.5V8a.5.5 0 0 1 .5-.5"/>
                                    <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1m3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1z"/>
                                </svg>
                            </a>
                        {% endif %}
                    </article>
                {% endfor %}
            </div>
        {% else %}
            <p><strong>Aucun résultat.</strong></p>
        {% endif %}

        <p class="mb-0">
            <i>Tu ne trouves pas ton jeu ou ton mod ? Laisse un message sur le canal <strong>#lan</strong> de notre Discord.</i>
        </p>
    {% endif %}
{% endblock %}