{% extends 'layout.html' %}

{% from 'macros.html' import vote with context %}

{% block title %}Jeux de la LAN : voter{% endblock %}

{% block cssfiles %}
    {% assets 'css_lan_games_vote' %}<link rel="stylesheet" href="{{ ASSET_URL }}">{% endassets %}
{% endblock %}

{% block content %}
    {% if lan_games_status == 'enabled' %}
        <p>Ici, on choisit les jeux principaux de la LAN en votant. <a href="{{ url_for('lan_games_proposal') }}">Pour proposer des jeux, c'est par ici</a>.</p>
    {% else %}
        <p>Voici les résultats finaux des jeux pour la LAN !</p>
    {% endif %}

    {% if proposals %}
        <div class="games">
            {% for proposal in proposals %}
                {% set my_vote = current_user.my_vote(proposal) %}

                <article id="g-{{ proposal.game.id }}">
                    <a href="{{ proposal.game.store_url }}" target="_blank" data-tooltip="{{ proposal.game.name }} [proposé par {{ proposal.user.display_name if proposal.user_id != current_user.id else 'toi' }}]">
                        <img src="{{ proposal.game.image_url }}" alt="Illustration {{ proposal.game.name }}" width="231" height="87">
                    </a>

                    <div>
                        {% for vote_type in LanGameProposalVoteType %}
                            {{ vote(vote_type, proposal, my_vote, lan_game_status=lan_games_status) }}
                        {% endfor %}
                    </div>
                </article>
            {% endfor %}
        </div>
    {% else %}
        <p class="mb-0"><strong>Aucun jeu pour l'instant. Proposes-en !</strong></p>
    {% endif %}
{% endblock %}