{% extends 'layout.html' %}

{% block title %}Admin : utilisateurs{% endblock %}

{% block cssfiles %}
    {% assets 'css_base' %}<link rel="stylesheet" href="{{ ASSET_URL }}">{% endassets %}
{% endblock %}

{% block content %}
    {% if users %}
        <table class="striped mb-0">
            <thead>
                <tr>
                    <th>Pseudo</th>
                    <th>Membre ?</th>
                    <th>Participant LAN ?</th>
                    <th>Admin ?</th>
                    <th>Création</th>
                    <th>Mise à jour</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.display_name }} <code>{{ user.id }}</code></td>
                        <td>{{ 'Oui' if user.is_member else 'Non' }}</td>
                        <td>{{ 'Oui' if user.is_lan_participant else 'Non' }}</td>
                        <td>{{ 'Oui' if user.is_admin else 'Non' }}</td>
                        <td>{{ user.created_at|datetimeformat }}</td>
                        <td>{{ user.updated_at|datetimeformat }}</td>
                        <td>
                            {% if user.id != current_user.id %}
                                <a href="{{ url_for('admin_user_delete', user_id=user.id) }}" onclick="return confirm('{{ user.display_name }} et tout ce qui lui est lié sera supprimé. Confirmer ?')"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                                        <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
                                    </svg></a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p class="mb-0"><strong>Aucun utilisateurs.</strong></p>
    {% endif %}
{% endblock %}