/************************************************************************
 * Styles de base */

/************************************************************************
 * Styles globaux */

.text-center {
    text-align: center;
}

/************************************************************************
 * En-tête */

body > header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    column-gap: var(--pico-grid-column-gap);
    row-gap: var(--pico-grid-row-gap);
    border-bottom: var(--pico-border-width) solid var(--pico-muted-border-color);
}

body > header > div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: var(--pico-grid-column-gap);
    row-gap: var(--pico-grid-row-gap);
}

body > header > div > a > img {
    border: var(--pico-border-width) solid var(--pico-muted-border-color);
    border-radius: var(--pico-border-radius);
}

body > header > div > div > a {
    font-weight: 700;
    font-size: 2rem;
    line-height: 1.125;
    text-decoration: none;
}

body > header > div > div > div {
    color: var(--pico-muted-color);
    font-size: 1rem;
}

body > header nav li {
    padding: var(--pico-nav-element-spacing-horizontal);
}

@media (min-width: 768px) {
    body > header {
        flex-direction: row;
        justify-content: space-between;
    }
}

/************************************************************************
 * Contenu */

body > main h1:before,
body > main h2:before {
    content: '• ';
    color: var(--pico-primary);
}

body > main article > header,
body > main details > summary {
    font-weight: bolder;
}

/************************************************************************
 * Alertes */

.alert {
    padding: var(--pico-spacing);
    border-radius: var(--pico-border-radius);
    border-width: var(--pico-border-width);
    border-style: solid;
}

.alert.success {
    border-color: var(--pico-form-element-valid-active-border-color);
}

.alert.error {
    border-color: var(--pico-form-element-invalid-active-border-color);
}