/************************************************************************
 * Jeux de la LAN */

/************************************************************************
 * Liste des jeux */

body > main .games {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: var(--pico-grid-column-gap);
    row-gap: var(--pico-grid-row-gap);
}

body > main .games > * {
    --pico-grid-row-gap: 0.5rem;

    min-width: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    column-gap: var(--pico-grid-column-gap);
    row-gap: var(--pico-grid-row-gap);
    margin-bottom: 0;
}

body > main .games > *:target {
    border-width: var(--pico-border-width);
    border-style: solid;
    border-color: var(--pico-primary-border);
    scroll-margin-top: var(--pico-spacing);
}

body > main .games img {
    border: var(--pico-border-width) solid var(--pico-muted-border-color);
    border-radius: var(--pico-border-radius);
}

@media (min-width: 768px) {
    body > main .games {
        grid-template-columns: repeat(4, 1fr);
    }
}
