/************************************************************************
 * Jeux de la LAN */

/************************************************************************
 * Liste des jeux */

body > main .games {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: var(--pico-grid-column-gap);
    row-gap: var(--pico-grid-row-gap);
}

body > main .games > article {
    --pico-grid-row-gap: 0.5rem;

    min-width: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    column-gap: var(--pico-grid-column-gap);
    row-gap: var(--pico-grid-row-gap);
    margin-bottom: 0;
}

body > main .games > article > .cover {
    position: relative;
}

body > main .games > article > .cover > a {
    position: initial;
}

body > main .games > article > .cover > span {
    position: absolute;
    right: 0.3rem;
    bottom: 0.3rem;
    z-index: 2;
    color: rgb(51, 210, 163);
    border-bottom: none;
}

body > main .games > article > .cover > svg {
    position: absolute;
    right: 0.35rem;
    bottom: 0.25rem;
    z-index: 1;
    color: rgb(0, 0, 0);
}

body > main .games > article:target {
    border-width: var(--pico-border-width);
    border-style: solid;
    border-color: var(--pico-primary-border);
    scroll-margin-top: var(--pico-spacing);
}

body > main .games img {
    border: var(--pico-border-width) solid var(--pico-muted-border-color);
    border-radius: var(--pico-border-radius);
}

@media (min-width: 768px) {
    body > main .games {
        grid-template-columns: repeat(4, 1fr);
    }
}
