/************************************************************************
 * Votes pour les jeux de la LAN */

/************************************************************************
 * Liste des jeux */

body > main .games > * > div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: column;
    column-gap: var(--pico-grid-column-gap);
    row-gap: var(--pico-grid-row-gap);
    line-height: initial;
}

body > main .games > * > div > div {
    display: flex;
    flex-direction: column;
    column-gap: var(--pico-grid-column-gap);
    row-gap: var(--pico-grid-row-gap);
    justify-content: space-between;
    align-items: center;
}

body > main .games > * > div > div .my-vote {
    color: var(--pico-primary);
}

body > main .games > * > div > div > span {
    color: var(--pico-muted-color);
    font-size: 0.7em;
    white-space: nowrap;
}

@keyframes pulsate {
    0%   { box-shadow: 0 0 5px 1px #f5ea22; }
    50%  { box-shadow: 0 0 20px 1px #f5ea22; }
    100% { box-shadow: 0 0 5px 1px #f5ea22; }
}

body > main .games > .essential img {
    border-color: #f5ea22;
    animation: pulsate 3s linear infinite !important;
}

/************************************************************************
 * Sous-en-tête */

body > main .subheading {
    display: flex;
    flex-direction: column;
    column-gap: var(--pico-grid-column-gap);
    row-gap: var(--pico-grid-row-gap);
    justify-content: space-between;
    align-items: center;
    margin-bottom: var(--pico-spacing);
}

body > main .subheading > p {
    flex-shrink: 0;
}

@media (min-width: 768px) {
    body > main .subheading {
        flex-direction: row;
    }
}
