/************************************************************************
 * Logements de la LAN */

/************************************************************************
 * Liste des logements */

body > main .accommodations {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: var(--pico-grid-column-gap);
    row-gap: var(--pico-grid-row-gap);
}

body > main .accommodations > article {
    --pico-grid-row-gap: 0.5rem;

    min-width: 0;
    display: flex;
    flex-direction: row;
    column-gap: var(--pico-grid-column-gap);
    row-gap: var(--pico-grid-row-gap);
    margin-bottom: 0;
}

body > main .accommodations > article:target {
    border-width: var(--pico-border-width);
    border-style: solid;
    border-color: var(--pico-primary-border);
    scroll-margin-top: var(--pico-spacing);
}

body > main .accommodations > article > .details {
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    column-gap: var(--pico-grid-column-gap);
    row-gap: var(--pico-grid-row-gap);
}

body > main .accommodations > article > .details > h5 {
    margin-bottom: 0;
}

body > main .accommodations img {
    border: var(--pico-border-width) solid var(--pico-muted-border-color);
    border-radius: var(--pico-border-radius);
}

@media (min-width: 768px) {
    body > main .accommodations {
        grid-template-columns: repeat(2, 1fr);
    }
}
