/************************************************************************
 * Jeux de la LAN */

/************************************************************************
 * Liste des jeux */

body > main .games {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: var(--pico-grid-column-gap);
    row-gap: var(--pico-grid-row-gap);
}

body > main .games > * {
    justify-self: center;
    min-width: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: var(--pico-grid-column-gap);
    row-gap: var(--pico-grid-row-gap);
}

body > main .games > *.already-proposed {
    filter: grayscale(100%);
}

body > main .games img {
    border: var(--pico-border-width) solid var(--pico-muted-border-color);
    border-radius: var(--pico-border-radius);
}