{% extends 'layout.html' %}

{% from 'macros.html' import bi_icon, field with context %}

{% block title %}Admin : LAN party : logements{% endblock %}

{% block cssfiles %}
    {% assets 'css_base' %}<link rel="stylesheet" href="{{ ASSET_URL }}">{% endassets %}
{% endblock %}

{% block content %}
    <form method="post" action="{{ url_for('admin_lan_accommodations') }}">
        {{ form.csrf_token }}

        {{ field(form.lan_accommodations_status) }}

        <p class="mb-0">
            <button type="submit" class="mb-0">Enregistrer</button>
        </p>
    </form>

    <h2>Propositions</h2>

    {% if proposals %}
        <p>
            <a href="{{ url_for('admin_lan_accommodation_proposals_reset_votes') }}" role="button" class="secondary" onclick="return confirm('Tous les votes seront supprimés. Confirmer ?')">Réinitialiser les votes</a>
            <a href="{{ url_for('admin_lan_accommodation_proposals_reset_all') }}" role="button" class="secondary" onclick="return confirm('Toutes les propositions et votes seront supprimés. Confirmer ?')">Réinitialiser tout</a>
        </p>

        <table class="striped mb-0">
            <thead>
                <tr>
                    <th>Titre</th>
                    <th>Proposé par</th>
                    <th>Proposé le</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for proposal in proposals %}
                    <tr>
                        <td>{{ proposal.title }}</td>
                        <td>{{ proposal.user.display_name }}</td>
                        <td>{{ proposal.created_at|datetimeformat }}</td>
                        <td class="actions">
                            <a href="{{ url_for('admin_lan_accommodation_proposal_delete', accommodation_proposal_id=proposal.id) }}" onclick="return confirm('{{ proposal.title }} et les votes associés seront supprimés. Confirmer ?')">{{ bi_icon('x-lg') }}</a>
                            <a href="{{ url_for('admin_lan_accommodation_proposal_delete_votes', accommodation_proposal_id=proposal.id) }}" onclick="return confirm('Les votes de {{ proposal.title }} seront supprimés. Confirmer ?')">{{ bi_icon('journal-x') }}</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p class="mb-0"><strong>Aucune proposition pour l'instant.</strong></p>
    {% endif %}
{% endblock %}