{% extends 'layout.html' %}

{% from 'macros.html' import field with context %}

{% block title %}Admin : LAN party : jeux{% endblock %}

{% block cssfiles %}
    {% assets 'css_base' %}<link rel="stylesheet" href="{{ ASSET_URL }}">{% endassets %}
{% endblock %}

{% block content %}
    <form method="post" action="{{ url_for('admin_lan_games') }}">
        {{ form.csrf_token }}

        {{ field(form.lan_games_status) }}

        <p class="mb-0">
            <button type="submit" class="mb-0">Enregistrer</button>
        </p>
    </form>

    <h2>Propositions</h2>

    {% if proposals %}
        <p>
            <a href="{{ url_for('admin_lan_game_proposals_reset_votes') }}" role="button" class="secondary" onclick="return confirm('Tous les votes seront supprimés. Confirmer ?')">Réinitialiser les votes</a>
            <a href="{{ url_for('admin_lan_game_proposals_reset_all') }}" role="button" class="secondary" onclick="return confirm('Toutes les propositions et votes seront supprimés. Confirmer ?')">Réinitialiser tout</a>
        </p>

        <table class="striped mb-0">
            <thead>
                <tr>
                    <th>Jeu</th>
                    <th>Proposé par</th>
                    <th>Proposé le</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for proposal in proposals %}
                    <tr>
                        <td>{{ proposal.game.name }} <code>{{ proposal.game.id }}</code></td>
                        <td>{{ proposal.user.display_name }}</td>
                        <td>{{ proposal.created_at|datetimeformat }}</td>
                        <td class="actions">
                            <a href="{{ url_for('admin_lan_game_proposal_delete', game_id=proposal.game_id) }}" onclick="return confirm('{{ proposal.game.name }} et les votes associés seront supprimés. Confirmer ?')"><svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                                    <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
                                </svg></a>

                            <a href="{{ url_for('admin_lan_game_proposal_delete_votes', game_id=proposal.game_id) }}" onclick="return confirm('Les votes de {{ proposal.game.name }} seront supprimés. Confirmer ?')"><svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-journal-x" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M6.146 6.146a.5.5 0 0 1 .708 0L8 7.293l1.146-1.147a.5.5 0 1 1 .708.708L8.707 8l1.147 1.146a.5.5 0 0 1-.708.708L8 8.707 6.854 9.854a.5.5 0 0 1-.708-.708L7.293 8 6.146 6.854a.5.5 0 0 1 0-.708"/>
                                    <path d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2"/>
                                    <path d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1z"/>
                                </svg></a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p class="mb-0"><strong>Aucune proposition pour l'instant.</strong></p>
    {% endif %}
{% endblock %}