{% extends 'layout.html' %}

{% block title %}Accueil{% endblock %}

{% block cssfiles %}
    {% assets 'css_base' %}<link rel="stylesheet" href="{{ ASSET_URL }}">{% endassets %}
{% endblock %}

{% block content %}
    <p>Bienvenue sur notre intranet !</p>
    <p>Certaines zones ne sont pas accessibles pour tout le monde. Si tu penses que tu devrait pouvoir accéder à une zone alors que tu ne peux pas, touches-en un mot sur le canal adéquat sur notre Discord.</p>
    <p class="mb-0">Merci de rapporter tout problème ou suggestion à <strong>Epoc</strong> sur notre Discord 😉</p>
{% endblock %}