<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">

    <title>{% block title %}{% endblock title %}{{ ' • ' if self.title() }}Hub Les Aventuriers Numériques</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="color-scheme" content="light dark">
    <meta name="robots" content="noindex,nofollow,noarchive">

    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" sizes="32x32 48x48">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2.0.6/css/pico.orange.min.css">
    {% block cssfiles %}{% endblock %}

    {% block head %}{% endblock %}
</head>
<body>
    <header class="container">
        <a href="{{ url_for('home') }}"><img src="{{ url_for('static', filename='/images/logo_120.png') }}" alt="Logo de la team Les Aventuriers Numériques" width="120" height="120"></a>
        <div>
            <a href="{{ url_for('home') }}">Hub</a>
            <div>Les Aventuriers Numériques</div>
        </div>
    </header>

    <main class="container">
        {% if self.title() %}
            <h1>{{ self.title() }}</h1>
        {% endif %}

        {% block content %}{% endblock %}
    </main>
</body>
</html>