<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">

    <title>{% block title %}{% endblock title %}{{ ' • ' if self.title() }}Hub Les Aventuriers Numériques</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="color-scheme" content="light dark">
    <meta name="robots" content="noindex,nofollow,noarchive">

    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" sizes="32x32 48x48">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2.0.6/css/pico.orange.min.css">
    {% block cssfiles %}{% endblock %}
</head>
<body>
    <header class="container">
        <div>
            <a href="{{ url_for('home') }}">
                <img src="{{ url_for('static', filename='images/logo_120.png') }}" alt="Logo de la team Les Aventuriers Numériques" width="120" height="120">
            </a>
            <div>
                <a href="{{ url_for('home') }}">Hub</a>
                <div>Les Aventuriers Numériques</div>
            </div>
        </div>

        {% if current_user.is_authenticated %}
            <nav>
                <ul>
                    <li><a href="{{ url_for('games') }}">Jeux</a></li>

                    <li>
                        <details class="dropdown">
                            <summary>{% if current_user.avatar_url %}<img src="{{ current_user.avatar_url }}?size=32" width="32" height="32"> {% endif %}{{ current_user.display_name }}</summary>
                            <ul>
                                <li><a href="{{ url_for('logout') }}">Déconnexion</a></li>
                            </ul>
                        </details>
                    </li>
                </ul>
            </nav>
        {% endif %}
    </header>

    <main class="container">
        {% if self.title() %}
            <h1>{{ self.title() }}</h1>
        {% endif %}

        {% with flash_messages = get_flashed_messages(with_categories=true) %}
            {% for category, message in flash_messages %}
                <p class="alert {{ category }}">
                    {{ message }}
                </p>
            {% endfor %}
        {% endwith %}

        {% block content %}{% endblock %}
    </main>

    {% block jsfiles %}{% endblock %}
</body>
</html>